.table-page-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-wrapper {
    font-family: Poppins;
    table-layout: auto;
    width: 80vw;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td, th {
    padding: 10px;
}

.log-out-button {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 150px;
    height: 50px;
    font-family: Poppins;
    background-color: rgb(61, 131, 211);
    border-radius: 12px;
    margin: 0 20px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.home-button {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 150px;
    height: 50px;
    font-family: Poppins;
    background-color: rgb(61, 131, 211);
    border-radius: 12px;
    margin: 0 20px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}