.joinus-label {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.25rem;
    left: 15px;
    pointer-events: none;
    color: rgb(85, 85, 85);
    display: block;
}

.joinus-input{
    font-family: Poppins;
    width: 100%;
    margin: 5px 0 15px 0;
    border: none;
    color: #4e4e4e;
    font-size: 1.125rem;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(85, 85, 85);
}